<div>
  <div>
    <div class="center">
      <div>{{ titlePage }}</div>
    </div>
    <div class="split">
      <app-stat-card label="Number of entries" [value]="totalEntries"></app-stat-card>
      <app-stat-card label="Total Number of medals" [value]="totalMedals"></app-stat-card>
      <app-stat-card label="Total Number of athletes" [value]="totalAthletes"></app-stat-card>
    </div>
  </div>
  <div class="chart-container wrapper-container">
    <div class="container">
      <canvas id="countryChart">{{ lineChart }}</canvas>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
